@model IEnumerable<string>
<div class="d-grid gap-2">
    <a class="btn btn-block btn-outline-secondary" asp-action="Index"
    asp-controller="Home" asp-route-category="">
    Все товары
    </a>
</div>

@foreach (string category in Model)
{
    <div class="d-grid gap-2">
        <a class="btn 
        @(category==ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-primary")
        asp-action="Index"
        asp-controller="Home" asp-route-category="@category"
        asp-route-productPage="1">
        @category <br />
        </a>
    </div>
}